[user]
  name = Andrea Gueugnaut
  email = andrea.gueugnaut@gmail.com
[core]
  ui = true
  interactive = true
  status = auto
  branch = true
  diff = true
  editor = vim
  autocrlf = input
[merge]
  tool = vimdiff
[push]
  default = current
[alias]
  b = branch
  civ = commit
  cl = clone
  cmi = commit -m
  co = checkout
  lg = log --decorate --branches --graph
  lgo = log --graph --decorate --oneline --abbrev-commit --all
  pull = pull --rebase
  slog = shortlog
  st = status
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[fetch]
  prune = true
