[include]
  path = ~/.gitconfig.local

[core]
  editor = vim
  autocrlf = input
	excludesfile = ~/.gitignore

[color]
  ui = true
  interactive = true
  status = auto
  branch = true
  diff = true
[merge]
  tool = vimdiff
[push]
  default = current
	autoSetupRemote = true
	followTags = true
[alias]
  b = branch
  civ = commit
  cl = clone
  cmi = commit -m
  co = checkout
  lg = log --decorate --branches --graph
  lgo = log --graph --decorate --oneline --abbrev-commit --all
  pull = pull --rebase
  slog = shortlog
  st = status
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main\\|prod' | xargs -n 1 -r git branch -d"
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[rerere]
	enabled = true
	autoupdate = true
